h3{
    display: flex;
    justify-content: center;
}

div.col{
    background-color: rgb(14, 43, 31);
    display: flex
;
    flex-wrap: wrap;
}

.events{
    background-color: rgb(14, 43, 31);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: rgb(3, 19, 19);
   border-radius: 30px;
    color: rgb(255, 255, 255);  
    font-family: 'Courier New', Courier, monospace;
    color: aquamarine;
    font-size: 1.2em;
padding: 50px;
    margin: 0;
    text-align: center;
    box-shadow: 0 0 20px rgba(192, 25, 25, 10);
}

div.col{
    width: 100%;
    padding: 20px;
}

form{
    display: table-caption;
}